.header {
  background-color: #B1040E;
  height: 100%;
  display: flex;
}

.nav--logo {
  padding: 1rem;
  margin-left: 1rem;
}

.course {
  border-radius: 12px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 20px 0px;
  padding: 0.5rem 1.5rem;
  margin: 2rem 2rem;
  width: 900px;
}

.course:hover {
  border: 2px solid #B1040E;
  cursor: grab;
}

.course--stats {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}

.course--stats > span {
  display: flex;
  align-items: center;
}

.circle-img, .calendar-img, .grading-img {
  margin-right: 6px;
}

.coursePage {
  margin: 1rem;
}

.coursePage--back {
  color: #7f7b82;
  font-size: smaller;
  margin-left: 1rem;
}

.coursePage--back:hover {
  text-decoration: underline;
  cursor: grab;
}

.coursePage--banner {
  border-radius: 25px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 1.5rem;
  margin: 1rem 0rem;
}

.coursePage--banner-code {
  border-radius: 25px;
  color: white;
  background-color: #B1040E;
  padding: 0.25rem 0.5rem;
  font-weight: 500;
}

.coursePage--content {
  display: flex;
  gap: 1.5rem;
}

.coursePage--about {
  border-radius: 25px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 0.5rem 1.5rem;
  margin: 1rem 0rem;
}

.coursePage--stats {
  border-radius: 25px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 0.5rem 0rem;
  margin: 1rem 0rem;
  width: 300px;
  flex: none;
}

.coursePage--stats > ul {
  list-style: none;
}

.coursePage--stats-title {
  font-family: 'Roboto Mono';
  margin-left: 40px;
  margin-bottom: 0;
}

.coursePage--stats-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  font-weight: bold;
}


